<!-- BEGIN: Subheader -->
<style>
	.dropdown-toggle::after {
		display: none;
	}

	.fa-rotate-45 {
		-ms-transform: rotate(270deg);
		/* Internet Explorer 9 */
		-webkit-transform: rotate(270deg);
		/* Chrome, Safari, Opera */
		transform: rotate(270deg);
		/* Standard syntax */
	}
</style>
<watchlist-modal name="$root.watchlist_modal_data" update-parent="$ctrl.updateParent()"></watchlist-modal>
<div appunwraptag="" class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				ATR Trends
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a class="m-nav__link m-nav__link--icon" href="https://neotrader.in/index/dashboard/"
						ng-reflect-href="#">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							ATR Trends
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<span>
				<h5 class="m--valign-middle">
					Last Refresh Date Time: <span ng-bind="lrdatetime"> </span>
					<br>
					New signals appear in every 30minutes.
				</h5>
			</span>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">


	<!--Begin::Section-->

	<!--Begin::Portlet-->
	<div ng-show="$root.user_permission['ATR']">
		<div class="row">
			<div class="col-xl-12 m--align-right m--margin-bottom-5">
				<em>*Universe = Nifty 50,100,500, Based on Cash Data, *Universe = NiftyFNO, Based on Cash Data</em>
			</div>
		</div>
		<div class="m-portlet m-portlet--collapsed m-portlet--head-sm" m-portlet="true">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							How To Use
						</h3>
					</div>
				</div>
				<div class="m-portlet__head-tools">
					<ul class="m-portlet__nav">

					</ul>
					<button class="btn btn-secondary m-btn m-btn--custom m-btn--label-info" data-toggle="collapse"
						data-target="#howtotoggle_1" type="button">
						+
					</button>
					<a style="margin-left: 5px;" href="/static/pdf2/ATR_Trends.pdf" target="_blank" title="ATR pdf">
						<img src="https://neotrader.in/static/pdf.png" alt="pdf">
					</a>
				</div>
			</div>

			<div class="collapse" id="howtotoggle_1">
				<div class="m-portlet__body">
					<div class="row">
						<iframe class="p-3" 
						width="560" 
						height="315" 
						src="https://www.youtube.com/embed/pJpvpoQaKMM" 
						title="YouTube video player" 
						frameborder="0" 
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
						allowfullscreen>
					</iframe>
					
						<iframe class="p-3" 
						width="560" 
						height="315" 
						src="https://www.youtube.com/embed/d4t1aYC3kyE" 
						title="YouTube video player" 
						frameborder="0" 
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
						allowfullscreen>
					</iframe>

						

					</div>
				</div>
			</div>
		</div>
		<div class="m-portlet m-portlet--full-height  m-portlet--rounded">

			<div class="m-portlet__head">

				<div class="m-portlet__head-tools">
					<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
						role="tablist">
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link active show" data-toggle="tab"
								href="#m_widget2_tab1_content" target="_self" role="tab" aria-selected="true">
								HeatMap
							</a>
						</li>
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link" ng-click="datatable.reload()" data-toggle="tab"
								href="#m_widget2_tab2_content" target="_self" role="tab" aria-selected="false">
								Levels
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="m-portlet__body">
				<div class="tab-content">
					<div class="tab-pane active show" id="m_widget2_tab1_content">
						<div class="m-portlet__head-caption">
							<div class="row">
								<div class="col-md-2 col-sm-2 m--margin-top-10 m--margin-bottom-10">
									<select class="custom-select" id="inputIndexValue" ng-model="SelectIndexValue"
										ng-options="value.Name for value in IndexValue" ng-change="getAtrData();">
									</select>
								</div>
								<div class="col-md-2 col-sm-2 m--margin-top-10 m--margin-bottom-10">
									<select class="custom-select" id="inputTimeFrameValue"
										ng-model="SelectTimeFrameValue" ng-options="value for value in TimeFrameValue"
										ng-change="getAtrData()">
									</select>
								</div>
								<div class="col-md-1 col-sm-8 m--margin-bottom-10">
									<h6> Trend Now </h6>
									<span class="m-switch m-switch--icon">
										<label>
											<input id="trend_now" type="checkbox" ng-model="SelectTrendNowValue"
												ng-change="getAtrData()" />
											<span></span>
										</label>
									</span>
								</div>
								<div class="col-md-2 col-sm-8 m--margin-bottom-10 ">
									<h6>Auto Refresh</h6>
									<span class="m-switch m-switch--icon">
										<label>
											<input id="auto_refresh" type="checkbox" ng-model="SelectRefreshValue"
												ng-disabled="!autoRefreshButtonDisabledValues" />
											<span></span>
										</label>
									</span>
								</div>
							</div>
						</div>
						<div ng-show="!loading">
							<!--  -->
						</div>
						<div ng-show="!loading" class="row ui-sortable m_sortable_portlets_options_alerts">
							<div class="col-lg-6">
								<!--begin::Portlet-->
								<div
									class="m-portlet m-portlet--tabs m-portlet--mobile m-portlet--sortable shadow bg-white rounded ">
									<div class="m-portlet__head align-items-center">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													HIGH ATR ({{high_atr.length}})
												</h3>
											</div>
										</div>
										<div class="btn-group" ng-if='high_atr.length > 0'>
											<button type="button" class="btn btn-light dropdown-toggle" 
												data-toggle="dropdown" 
												aria-haspopup="true" 
												aria-expanded="false">
											  Watchlist </button>
											<div class="dropdown-menu">
											  <li>
												<button  class="dropdown-item" type="button" 
												  ng-if='high_atr.length > 0'
												  ng-click="$root.watchlistModal(high_atr,'heatmap')"
												  data-toggle="modal" data-target="#add_to_watch_list"
												  class="btn">Add to watchlist</button>
											  </li>
											  <li>
												<dynamic-watchlist source-type="heatmap" 
												is-group="true" data="high_atr" 
												page-name="{{'ATR'}}" 
												strategy="{{'HIGH ATR'}}"></dynamic-watchlist>
											  </li>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="tab-content">
											<div class="tab-pane active show">
												<div class="m-widget26__chart">
													<div id="m_chart_heatmap">
														<div class="row">
															<div ng-repeat="script in high_atr | limitTo: tabLimit['highAtrLimit']"
																style="margin-left:1px;margin-top:1px;border-radius:2px;width:150px;">
																<div class="col-lg py-1 border d-flex flex-column"
																	style="background-color: #dedede;align-items:center;justify-content:center">
																	<div class="btn-group dropright">
																		<a type="button"
																			class="btn btn-sm btn-secondary "
																			data-toggle="dropdown" aria-haspopup="true"
																			aria-expanded="false"
																			style="padding: 0;border: none;background: none;">
																			<em style="margin-bottom: 0px;font-size: 12px;font-weight: bold;"
																				class="text-dark"><strong>{{script.SYMBOL}}
																					: {{script.ATR}}</strong></em>
																			<i class="fa fa-caret-down  text-dark ml-2 fa-rotate-45"
																				style="font-size:14px;"></i>
																		</a>
																		<div class="dropdown-menu">
																			<a class="dropdown-item m-link"
																				href="/index/stock_analyser/{{script.SYMBOL}}/PIVOTS"
																				target="_blank">
																				Stock Analyser</a>
																			<a class="dropdown-item" href="#"
																				class="m-link" data-toggle="modal"
																				data-target="#add_to_watch_list"
																				ng-click='$root.watchlistModal([script], "heatmap")'>Add
																				to Watchlist</a>
																		</div>
																	</div>
																	<div>
																		<dhan-trading-view-charts symbol-name="script.SYMBOL" asset-class="eq" class-value="" source="heatmap"></dhan-trading-view-charts>

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-if="high_atr.length > 20" class="m-portlet__foot">
										<div class="m--align-center">
											<span ng-if="high_atr.length != tabLimit['highAtrLimit']">
												<span ng-click="showMore(high_atr, 'highAtrLimit')"><i
														class="fa fa-chevron-down" data-toggle="tooltip"
														title="show more"></i></span>
											</span>
											<span ng-if="high_atr.length == tabLimit['highAtrLimit']">
												<span ng-click="showLess('highAtrLimit')"><i class="fa fa-chevron-up"
														data-toggle="tooltip" title="show less"></i></span>
											</span>
										</div>
									</div>
								</div>

								<div
									class="m-portlet m-portlet--tabs m-portlet--mobile m-portlet--sortable shadow bg-white rounded">
									<div class="m-portlet__head align-items-center">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													SPIKE UP
												</h3>
											</div>
										</div>
										<div class="btn-group" ng-if='spiky_high.length > 0'>
											<button type="button" class="btn btn-light dropdown-toggle" 
												data-toggle="dropdown" 
												aria-haspopup="true" 
												aria-expanded="false">
											  Watchlist </button>
											<div class="dropdown-menu">
											  <li>
												<button  class="dropdown-item" type="button" 
												  ng-if='spiky_high.length > 0'
												  ng-click="$root.watchlistModal(spiky_high,'heatmap')"
												  data-toggle="modal" data-target="#add_to_watch_list"
												  class="btn">Add to watchlist</button>
											  </li>
											  <li>
												<dynamic-watchlist source-type="heatmap" 
												is-group="true" data="spiky_high" 
												page-name="{{'ATR'}}" 
												strategy="{{'SPIKE UP'}}"></dynamic-watchlist>
											  </li>
											</div>
										</div>
										</div>
									<div class="m-portlet__body">
										<div class="m-widget26__chart">
											<div id="m_chart_heatmap">
												<div class="row">
													<div ng-repeat="script in spiky_high"
														style="margin-left:1px;margin-top:1px;border-radius:2px;width:150px;">
														<div class="col-lg py-1 d-flex flex-column"
															style="background-color: #239B56;align-items:center;justify-content:center;">
															<div class="btn-group dropright">
																<a type="button" class="btn btn-sm btn-secondary "
																	data-toggle="dropdown" aria-haspopup="true"
																	aria-expanded="false" title="ATR: {{script.ATR}}"
																	style="padding: 0;border: none;background: none;">
																	<span ng-if="script.ALERT == 1">
																		<em
																			style="margin-bottom: 0px;font-size: 12px;font-weight: bold;">
																			<strong>***
																				{{script.SYMBOL}}</strong>><br><strong>RS
																				: {{script.ATR_ST}}% </strong>
																		</em>
																	</span>
																	<span ng-if="script.ALERT == 0">
																		<em
																			style="margin-bottom: 0px;font-size: 12px;font-weight: bold;">
																			<strong>{{script.SYMBOL}}</strong><br><strong>RS
																				: {{script.ATR_ST}}% </strong>
																		</em>
																	</span>
																	<i class="fa fa-caret-down  text-dark ml-2 fa-rotate-45"
																		style="font-size:14px;"></i>
																</a>
																<div class="dropdown-menu">
																	<a class="dropdown-item m-link"
																		href="/index/stock_analyser/{{script.SYMBOL}}/PIVOTS"
																		target="_blank">
																		Stock Analyser</a>
																	<a class="dropdown-item" href="#" class="m-link"
																		data-toggle="modal"
																		data-target="#add_to_watch_list"
																		ng-click='$root.watchlistModal([script], "heatmap")'>Add
																		to Watchlist</a>
																</div>
															</div>
															<div>
																<dhan-trading-view-charts symbol-name="script.SYMBOL" asset-class="eq" class-value="" source="heatmap"></dhan-trading-view-charts>

															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>

								<!-- begin:Empty Portlet: sortable porlet required for each columns! -->
								<div class="m-portlet m-portlet--sortable-empty">
								</div>
								<!--end::Empty Portlet-->
							</div>
							<div class="col-lg-6">
								<div
									class="m-portlet m-portlet--tabs m-portlet--mobile m-portlet--sortable shadow bg-white rounded">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption align-items-center">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													LOW ATR ({{low_atr.length}})
												</h3>
											</div>
										</div>
										
										<div class="btn-group" ng-if='low_atr.length > 0'>
											<button type="button" class="btn btn-light dropdown-toggle" 
												data-toggle="dropdown" 
												aria-haspopup="true" 
												aria-expanded="false">
											  Watchlist </button>
											<div class="dropdown-menu">
											  <li>
												<button  class="dropdown-item" type="button" 
												  ng-if='low_atr.length > 0'
												  ng-click="$root.watchlistModal(low_atr,'heatmap')"
												  data-toggle="modal" data-target="#add_to_watch_list"
												  class="btn">Add to watchlist</button>
											  </li>
											  <li>
												<dynamic-watchlist source-type="heatmap" 
												is-group="true" data="low_atr" 
												page-name="{{'ATR'}}" 
												strategy="{{'LOW ATR'}}"></dynamic-watchlist>
											  </li>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-widget26__chart">
											<div id="m_chart_heatmap">

												<div class="row">
													<div ng-repeat="script in low_atr | limitTo: tabLimit['lowAtrLimit']"
														style="margin-left:1px;margin-top:1px;border-radius:2px;width:150px;">
														<div class="col-lg py-1 d-flex flex-column"
															style="background-color: #dedede;align-items:center;justify-content:center">
															<div class="btn-group dropright">
																<a type="button" class="btn btn-sm btn-secondary "
																	data-toggle="dropdown" aria-haspopup="true"
																	aria-expanded="false"
																	style="padding: 0;border: none;background: none;">
																	<em style="margin-bottom: 0px;font-size: 12px;font-weight: 500;"
																		class="text-dark"><strong>{{script.SYMBOL}} :
																			{{script.ATR}}</strong></em>
																	<i class="fa fa-caret-down  text-dark ml-2 fa-rotate-45"
																		style="font-size:14px;"></i>
																</a>
																<div class="dropdown-menu">
																	<a class="dropdown-item m-link"
																		href="/index/stock_analyser/{{script.SYMBOL}}/PIVOTS"
																		target="_blank">
																		Stock Analyser</a>
																	<a class="dropdown-item" href="#" class="m-link"
																		data-toggle="modal"
																		data-target="#add_to_watch_list"
																		ng-click='$root.watchlistModal([script], "heatmap")'>Add
																		to
																		Watchlist</a>
																</div>
															</div>

															<div>
																<dhan-trading-view-charts symbol-name="script.SYMBOL" asset-class="eq" class-value="" source="heatmap"></dhan-trading-view-charts>

															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div ng-if="low_atr.length > 20" class="m-portlet__foot">
										<div class="m--align-center">
											<span ng-if="low_atr.length != tabLimit['lowAtrLimit']">
												<span ng-click="showMore(low_atr, 'lowAtrLimit')"><i
														class="fa fa-chevron-down" data-toggle="tooltip"
														title="show more"></i></span>
											</span>
											<span ng-if="low_atr.length == tabLimit['lowAtrLimit']">
												<span ng-click="showLess('lowAtrLimit')"><i class="fa fa-chevron-up"
														data-toggle="tooltip" title="show less"></i></span>
											</span>
										</div>
									</div>
								</div>


								<div
									class="m-portlet m-portlet--tabs m-portlet--mobile m-portlet--sortable shadow bg-white rounded">
									<div class="m-portlet__head align-items-center">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													SPIKE DOWN
												</h3>
											</div>
										</div>
										<div class="btn-group" ng-if='spiky_low.length > 0'>
											<button type="button" class="btn btn-light dropdown-toggle" 
												data-toggle="dropdown" 
												aria-haspopup="true" 
												aria-expanded="false">
											  Watchlist </button>
											<div class="dropdown-menu">
											  <li>
												<button  class="dropdown-item" type="button" 
												  ng-if='spiky_low.length > 0'
												  ng-click="$root.watchlistModal(spiky_low,'heatmap')"
												  data-toggle="modal" data-target="#add_to_watch_list"
												  class="btn">Add to watchlist</button>
											  </li>
											  <li>
												<dynamic-watchlist source-type="heatmap" 
												is-group="true" data="spiky_low" 
												page-name="{{'ATR'}}" 
												strategy="{{'SPIKE DOWN'}}"></dynamic-watchlist>
											  </li>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-widget26__chart">
											<div id="m_chart_heatmap">

												<div class="row">
													<div ng-repeat="script in spiky_low"
														style="margin-left:1px;margin-top:1px;border-radius:2px;width:150px;">
														<div class="col-lg py-1 d-flex flex-column"
															style="background-color: #B03A2E;align-items:center;justify-content:center;">
															<div class="btn-group dropright">
																<a type="button" class="btn btn-sm btn-secondary "
																	data-toggle="dropdown" aria-haspopup="true"
																	aria-expanded="false" title="ATR: {{script.ATR}}"
																	style="padding: 0;border: none;background: none;">
																	<span ng-if="script.ALERT == 1">
																		<em style="margin-bottom: 0px;font-size: 12px;font-weight: bold;"
																			class="text-white">
																			<strong>***
																				{{script.SYMBOL}}</strong>><br><strong>RS
																				: {{script.ATR_ST}}% </strong>
																		</em>
																	</span>
																	<span ng-if="script.ALERT == 0">
																		<em style="margin-bottom: 0px;font-size: 12px;font-weight: bold;"
																			class="text-white">
																			<strong>{{script.SYMBOL}}</strong><br><strong>RS
																				: {{script.ATR_ST}}% </strong>
																		</em>
																	</span>
																	<i class="fa fa-caret-down  text-dark ml-2 fa-rotate-45"
																		style="font-size:14px;"></i>
																</a>
																<div class="dropdown-menu">
																	<a class="dropdown-item m-link"
																		href="/index/stock_analyser/{{script.SYMBOL}}/PIVOTS"
																		target="_blank">
																		Stock Analyser</a>
																	<a class="dropdown-item" href="#" class="m-link"
																		data-toggle="modal"
																		data-target="#add_to_watch_list"
																		ng-click='$root.watchlistModal([script], "heatmap")'>Add
																		to Watchlist</a>
																</div>
															</div>
															<div>
																<dhan-trading-view-charts symbol-name="script.SYMBOL" asset-class="eq" class-value="" source="heatmap"></dhan-trading-view-charts>			

															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
								<!-- begin:Empty Portlet: sortable porlet required for each columns! -->
								<div class="m-portlet m-portlet--sortable-empty">
								</div>
								<!--end::Empty Portlet-->
							</div>
						</div>

						<div align="center" ng-show="loading">
							<img style="margin-bottom: -100px;"
								src="/static/apptrade-canvas/img/NeoTrader_Logo_200x200.png" alt=""><br>
							<img height="15%" width="15%" src="https://neotrader.in/static/SVG/loading_chart.svg"
								alt="Loading....">
						</div>
					</div>
					<div class="tab-pane" id="m_widget2_tab2_content">
						<div class="row">
							<div class="col-xl-12">
								<div class="m-portlet m-portlet--mobile ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h4>ATR Levels</h4>
											</div>
										</div>

									</div>
									<div class="m-portlet__body">
										<div class="row">
											<div class="col-md-2 col-sm-2 m--margin-top-10 m--margin-bottom-10">
												<select class="custom-select" id="inputIndexValue"
													ng-model="SelectIndexValue"
													ng-options="value.Name for value in IndexValue"
													ng-change="getAtrData();">
												</select>
											</div>
											<div class="col-md-2 col-sm-2 m--margin-top-10 m--margin-bottom-10">
												<select class="custom-select" id="inputTimeFrameValue"
													ng-model="SelectTimeFrameValue"
													ng-options="value for value in TimeFrameValue"
													ng-change="getAtrData()">
												</select>
											</div>
											<div class="col-md-1 col-sm-8 m--margin-bottom-10">
												<h6> Trend Now </h6>
												<span class="m-switch m-switch--icon">
													<label>
														<input id="trend_now" type="checkbox"
															ng-model="SelectTrendNowValue" ng-change="getAtrData()" />
														<span></span>
													</label>
												</span>
											</div>
											<div class="col-md-1 col-sm-8 m--margin-bottom-10 ">
												<h6>Auto Refresh</h6>
												<span class="m-switch m-switch--icon">
													<label>
														<input id="auto_refresh" type="checkbox"
															ng-model="SelectRefreshValue"
															ng-disabled="!autoRefreshButtonDisabledValues" />
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<!--begin: Datatable -->
										<div
											class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
											<div class="row align-items-center">
												<div class="col-xl-8 order-2 order-xl-1">
													<div class="form-group m-form__group row align-items-center">
														<div class="col-md-4">
															<div class="m-input-icon m-input-icon--left">
																<input type="text" class="form-control m-input"
																	placeholder="Search..."
																	id="generalSearchScanners_atr"></input>
																<span
																	class="m-input-icon__icon m-input-icon__icon--left">
																	<span>
																		<i class="la la-search"></i>
																	</span>
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 order-1 order-xl-4 m--align-right">
													<dhan-trading-view-charts symbol-name="datatable" asset-class="eq" class-value="btn btn-outline-info ml-2" source="table"></dhan-trading-view-charts>
													<button type="button" class="btn btn-outline-info ml-2"
														data-toggle="modal" style="font-weight: 500;"
														data-target="#add_to_watch_list"
														ng-click="$root.watchlistModal(datatable,'table')">
														Watchlist
													</button>
												</div>
											</div>
										</div>
										<div class="m_datatable_atr">
										</div>
										<!--end: Datatable -->
									</div>
								</div>

							</div>
						</div>
						<!--Begin::Timeline 3 -->
						<!--End::Timeline 3 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="!$root.user_permission['ATR']">
		<div class="m-portlet" m-portlet="true">

			<div class="m-portlet__body">

				<center>
					<h5><img width="5%" height="5%" src="https://neotrader.in/static/lock.svg" alt="permissionlock">This
						section is available only under NeoTrader Pro Subscription.<a href="https://rajavenkatraman.com/service"> Subscribe Now</a>
					</h5>
				</center>

				<center><em>-- Sample image to illustrate the module --</em></center>
				<div class="row">
					<img width="100%" src="{{$root.APP_URL+'/static/SS/ATR_trends_SS.png'}}" alt="Market View">
				</div>
			</div>
		</div>
	</div>
	<!--End::Portlet-->
</div>