<div class="m-content" >
	<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-error-6 coming-soon">
		<div class="m-portlet__head">

		</div>
		<div class="m-portlet__body">
			<div class="m-error_container">
				<div class="m-error_subtitle m--font-light">
					<h1>Coming Soon...</h1>	 
				</div> 		
				<p class="m-error_description" style="color: #ffffff">
					We are working on it..<br>
				</p>	 
			</div>	
		</div>
	</div>
</div>




<!-- end:: Page -->