<div appunwraptag="" class="m-subheader">
	<div class="d-flex align-items-center mb-4">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Market Replay
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a class="m-nav__link m-nav__link--icon" href="#" ng-reflect-href="#">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Market Replay
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link" href="/index/dashboard/"  ng-click="clear()">
						<span class="m-nav__link-text">
							Dashboard
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<span>
				<h5 class="m--valign-middle">
					Last Refresh Date Time: <span ng-bind="lrdatetime"> </span>
					<br>
					<b>Using realtime data </b>, Page refreshes every 15 seconds.
				</h5>
			</span>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--full-height  m-portlet--rounded">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">

				</div>
				<div class="m-portlet__head-tools">
					<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link "  href="/index/sector_analysis_view/" ng-click="clear()" >
							  Sector Analysis
							</a>
						</li>
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link" href="/index/sector_view/"  ng-click="clear()">
								Sector View
							</a>
						</li>
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link"  href="/index/market_stats/"  ng-click="clear()">
								Market Stats
							</a>
						</li>
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_widget4_tab4_content"  role="tab" aria-selected="true">
								Market Replay
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div ng-show="$root.user_permission['MARKET_REPLAY']" >
			<div class="m-portlet__body">
				<div class="tab-content">
					<div class="tab-pane active show" id="m_widget4_tab4_content">
						<div class="m-portlet m-portlet--mobile ">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="row">
										<div class="col-lg-6">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Timelapse View
												</h3>
											</div>
										</div>
										<div class="col-lg-6">
											<select class="custom-select" id="" ng-model="SelectDataValue_Timelapse" ng-options="value for value in DataValue_Timelapse">
											</select>
										</div>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<div class="row">
										<div class="col-xl-12 m--align-right">
											<em>*Universe = FNO, Cash Data</em>
										</div>
									</div>
								</div>
							</div>

							<div class="m-portlet__body">
								<!--Begin Timelapse-->
								<div class="row">
									<div class="col-xl-12">
										<!--begin:: Widgets/Quick Stats-->
										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-12">
												<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--fit m-portlet--border-bottom-brand  m-portlet--rounded" style="min-height: 300px">
													<div class="m-portlet__head">
														<div class="m-portlet__head-caption">
															<div class="m-portlet__head-title">
																<h3 class="m-portlet__head-text">
																	All Sectors Timelapse - Close
																</h3>
															</div>
														</div>
													</div>
													<div class="m-portlet__body" style="padding-left:10px;padding-right:10px;">


														<div class="m-widget26__chart_timelapse" style="width: auto;height:300px">
															<div id="m_chart_sector_stack_view_timelapse_close_dashboard" style="width: auto;height:300px"></div>
															<input type="button" value="play" id="bt_dashboard" ng-click="loop_func_close(1)" />
															<input type="button" value="pause" id="btpauseclose_dashboard" ng-click="togglePlayClose()" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End Timelapse-->
								<!--Begin Timelapse-->
								<div class="row">
									<div class="col-xl-12">
										<!--begin:: Widgets/Quick Stats-->
										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-12">
												<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--fit m-portlet--border-bottom-brand  m-portlet--rounded" style="min-height: 300px">
													<div class="m-portlet__head">
														<div class="m-portlet__head-caption">
															<div class="m-portlet__head-title">
																<h3 class="m-portlet__head-text">
																	All Sectors Timelapse - Open
																</h3>
															</div>
														</div>
													</div>
													<div class="m-portlet__body" style="padding-left:10px;padding-right:10px;">
														<div class="m-widget26__chart_timelapse_open" style="width: auto;height:300px">
															<div id="m_chart_sector_stack_view_timelapse_open_dashboard" style="width: auto;height:300px"></div>
															<input type="button" value="play" id="bt_dashboard" ng-click="loop_func_open(1)" />
															<input type="button" value="pause" id="btpauseopen_dashboard" ng-click="togglePlayOpen()" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="!$root.user_permission['MARKET_REPLAY']" >
		<div class="m-portlet" m-portlet="true">

			<div class="m-portlet__body">

				<center><h5 ><img width="5%" height="5%" src="https://neotrader.in/static/lock.svg" alt="permissionlock">This section is available only under NeoTrader Pro Subscription.<a href="https://rajavenkatraman.com/service"> Subscribe Now</a></h5></center>

				<center><em>-- Sample image to illustrate the module --</em></center>
				<div class="row">
					<img width="100%" src="https://neotrader.in/static/SS/Market Replay.png" alt="Market Replay">
				</div>
			</div>
		</div>
	</div>
</div>
